<p id="notice"><%= notice %></p>

<h1>Wines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Strains</th>
      <th>Scores</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td><%= wine.name %></td>
        <td>
            <% wine_strains = wine.wine_strains %>
            <% strains = wine_strains.map do |wine_strain| %>
              <% [Strain.find(wine_strain.strain_id).name, wine_strain.percentage] %>
            <% end %>
            <ul>
              <% strains.sort.each do |strain| %>
                <li><%= strain.first %>(<%= strain.second %>%)</li>
              <% end %>
            </ul>
          </ul>
        </td>
        <td>
          <% wine_scores = wine.wine_scores %>
          <% scores = wine_scores.map do |wine_score| %>
            <% [Oenologist.find(wine_score.oenologist_id).name, wine_score.score] %>
          <% end %>
          <ul>
            <% scores.each do |score| %>
              <li><%= score.first %>(<%= score.second %>)</li>
            <% end %>
          </ul>
        </td>

        <% if current_user.email == "peter@gmail.com" %>
          <td><%= link_to 'Show', wine %></td>
          <td><%= link_to 'Edit', edit_wine_path(wine) %></td>
          <td><%= link_to 'Destroy', wine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.email == "peter@gmail.com" %>
  <%= link_to 'New Wine', new_wine_path %>
<% end %>
